In [2]:
import pickle
import pandas as pd
from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import Pipeline

df = pd.read_csv('df_original_num_data_0115.csv')

df_new = df.sample(frac=0.01, random_state=42)

csv_pop_example = 'df_1percent.csv'
df_new.to_csv(csv_pop_example,index=False)

In [3]:
df_new.head()

       State_Num  City_Num  EMPLOYER_num  OCCUPATION_num  party_label
36327         18      1322             2               2            1
7963           5       376             1               1            0
53732         42      4895             5               2            1
2990           2         2             2               1            1
40712         34       162         15648               5            1